.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: 80px;
    padding: 30px;
    width: 210px;
    height: 60px;
    color: #61dafb;
    background-color: #282c34;
    border: 2px solid #61dafb;
    border-radius: 8px;
}

.maxValue {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: 85px;
    font-weight: bold;
    padding: 30px;
    width: 210px;
    height: 60px;
    color: red;
    border: 2px solid #61dafb;
    border-radius: 8px;
}